.mod-set-detail {
  display: block;
  position: relative;
  border: 1px solid dodgerblue;
  background-color: rgba(0, 0, 96, .5);
  padding: 1em 1em 3em;
}

.mod-set-detail .mods {
  width: 12em;
  height: calc(12em * 701/400);
  display: inline-block;
  background-image: url('/img/modset-background.png');
  background-size: 100%;
  position: relative;
}

.mod-set-detail .summary {
  display: inline-block;
  vertical-align: top;
  margin: 0 2em;
}

.mod-set-detail .summary table {
  margin: 0;
  padding: 0;
  text-align: left;
}

.mod-set-detail .summary table th {
  background-color: rgb(31, 115, 140);
  text-align: center;
  font-weight: normal;
}

.mod-set-detail .summary table td {
  padding: .2em .5em;
}

.mod-set-detail .summary table tr:nth-child(odd) td {
  background-color: rgb(30, 47, 70);
}

.mod-set-detail .summary table tr:nth-child(odd) td.stat-value {
  color: rgb(117, 203, 203);
}

.mod-set-detail .summary table tr:nth-child(even) td {
  background-color: rgb(28, 56, 93);
}

.mod-set-detail .summary table tr:nth-child(even) td.stat-value {
  color: rgb(28, 169, 212);
}

.mod-set-detail .summary table td.stat-type {
  text-align: left;
}

.mod-set-detail .summary table td.stat-value {
  text-align: right;
}

.mod-set-detail .summary table td.stat-diff {
  /*text-shadow: none;*/
}

.mod-set-detail .summary table td.stat-diff.increase {
  color: #60bd1b;
}

.mod-set-detail .summary table td.stat-diff.increase::before {
  content: '+';
}

.mod-set-detail .summary table td.stat-diff.decrease {
  color: #e64343;
}

.mod-set-detail .summary .set-value {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.mod-set-detail .mod {
  position: absolute;
}

.mod-set-detail .mod .mod-level {
  background: none;
}

.mod-set-detail .mod .pips::before {
  background: none;
}

.mod-set-detail .mod .pips::after {
  background: none;
}

.mod-set-detail .mod .mod-stats {
  display: none;
}

.mod-set-detail .mod:hover .mod-stats {
  display: block;
  position: absolute;
  border: 1px solid dodgerblue;
  background-color: rgb(0, 0, 66);
  padding: 1em;
  z-index: 1000;
}

.mod-set-detail .mod.square {
  left: .25em;
  top: .7em;
  width: 4em;
}

.mod-set-detail .mod.square .pips {
  left: -5px;
  top: 3px;
}

.mod-set-detail .mod.arrow {
  right: .95em;
  top: -.2em;
  width: 4.5em;
}

.mod-set-detail .mod.arrow .pips {
  top: 5px;
}

.mod-set-detila .mod.arrow .mod-level {
  bottom: -16px;
  right: 25px;
}

.mod-set-detail .mod.diamond {
  left: 2em;
  top: 8.9em;
  width: 4.5em;
}

.mod-set-detail .mod.diamond .pips {
  top: 5px;
}

.mod-set-detail .mod.diamond .mod-level {
  bottom: -17px;
  right: 7px;
}

.mod-set-detail .mod.triangle {
  right: 1.8em;
  top: 7.2em;
  width: 4em;
}

.mod-set-detail .mod.triangle .pips {
  left: -4px;
  top: 5px;
}

.mod-set-detail .mod.triangle .mod-level {
  right: -20px;
}

.mod-set-detail .mod.circle {
  left: .95em;
  bottom: .45em;
  width: 4.5em;
}

.mod-set-detail .mod.circle .pips {
  top: 6px;
}

.mod-set-detail .mod.circle .mod-level {
  left: -16px;
  top: 29px;
}

.mod-set-detail .mod.cross {
  right: 1.05em;
  bottom: 2.25em;
  width: 4.55em;
}

.mod-set-detail .mod.cross .pips {
  left: 1px;
  top: 5px;
}

.mod-set-detail .mod.cross .mod-level {
  bottom: -13px;
}
