.review-list {
  height: 100%;
}

.review-list h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: .5em;
}

.review-list h3 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.review-list .mod-row.individual .character-id h3,
.review-list .mod-row.individual .character-id h4 {
  font-size: .8em;
}

.review-list .increase {
  color: #60bd1b;
}

.review-list .increase::before {
  content: '+';
}

.review-list .decrease {
  color: #e64343;
}

.review-list h4 {
  text-align: center;
  margin-top: 0;
}

.sort-options {
  text-align: center;
  font-size: 24px;
}

.review-list .mods-list {
  height: calc(100% - 5em);
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 5em;
}

.mod-row {
  margin: 10px auto;
  text-align: center;
}

.mod-row .mod-detail {
  vertical-align: middle;
  margin-right: 30px;
}

.mod-row .mod-set-block {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
  padding: 1em;
  border: 1px solid dodgerblue;
  background-color: rgba(0, 0, 96, .5);
}

.mod-row .mod-set-detail {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.mod-row div.character-id {
  display: inline-block;
  vertical-align: middle;
}

.mod-row.set div.character-id > .arrow {
  width: 6em;
  height: 6em;
}

.mod-row.individual div.character-id > .arrow {
  width: 4em;
  height: 4em;
}

.mod-row div.character-id > .avatar {
  display: inline-block;
  margin: 1em;
}

.mod-row .actions {
  display: inline-block;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.mod-row .actions button {
  display: block;
}

.mod-row.set .avatar {
  font-size: 1.5em;
}

.mod-row.set .mod-image .avatar {
  font-size: 1em;
}

.mod-row.set .mod-stats .avatar {
  font-size: .8em;
}

pre.summary {
  background-color: #222;
  padding: 1em;
  text-shadow: none !important;
  max-height: calc(100vh - 27em);
  overflow-y: auto;
}

.sidebar-hotutils {
  text-align: center;
}

.modal.hotutils-modal {
  max-width: 40em;
}

.modal.hotutils-modal p {
  text-align: left;
}

.modal.hotutils-modal input {
  /* font-size: 1.2em; */
  width: 30em;
  margin: 1em 0;
}

.modal.hotutils-modal p.error {
  margin-top: -1em;
  visibility: visible;
  text-align: center;
}
