.character-edit {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.character-edit .selected-characters {
  float: right;
  max-width: calc(33% - 7em);
  margin: 0 1em;
  height: 100%;
}

.character-edit .available-characters {
  height: 100%;
  overflow-y: auto;
}

.character-edit .available-characters .character {
  display: inline-block;
  vertical-align: top;
  margin: .5em 1em;
  width: 8em;
}

.character-edit .available-characters .character .avatar {
  font-size: 1.2em;
}

.character-edit .available-characters .character.inactive {
  opacity: .25;
}

.character-edit .character-list {
  height: calc(100% - 4em);
  overflow-y: auto;
  overflow-x: hidden;
}

.character-edit-form {
  width: 30em;
  text-align: center;
}

.character-edit-form #character-level-options,
.character-edit-form #basic-form,
.character-edit-form #advanced-form {
  display: inline-block;
  margin: 0 2em;
}

.character-edit-form .character-view .avatar {
  font-size: 1.5em;
}

.character-edit-form .character-name {
  margin-bottom: 0;
}

.character-edit-form .instructions {
  margin: 1em 0;
}

.character-edit-form .header-row {
  width: 21em;
  margin: 0 auto .5em;
}

.character-edit-form .form-row {
  text-align: right;
  margin: .25em auto;
  padding: .25em .5em;
  line-height: 1em;
}

.character-edit-form .form-row input {
  vertical-align: middle;
}

.character-edit-form .form-row label {
  margin-right: 1em;
}

.character-edit-form .form-row input[type=range],
.character-edit-form .form-row input[type=number] {
  width: 5em;
  padding: .1em .25em;
}

.character-edit-form .form-row input[type=range] {
  width: 9em;
}

.character-edit-form .form-row output {
  display: inline-block;
  width: 3em;
}

.character-edit-form .form-row input.slider-input {
  width: 3.5em;
  margin-left: .5em;
}

.character-edit-form .form-row:nth-child(odd) {
  background-color: rgb(30, 47, 70);
  color: rgb(117, 203, 203);
}

.character-edit-form .form-row:nth-child(even) {
  background-color: rgb(28, 56, 93);
  color: rgb(28, 169, 212);
}

.character-edit-form #plan-name {
  font-size: 1.2em;
  width: 7em;
}

.character-edit-form .actions {
  text-align: right;
}

.character-edit-form #reset-button,
.character-edit-form #delete-button {
  float: left;
}

.modal.instructions {
  height: auto;
  width: 50em;
  text-align: left;
}

.modal.instructions h2,
.modal.instructions h3 {
  text-align: center;
  border-bottom: 1px solid white;
}

.modal.instructions .actions {
  text-align: right;
}
