.character-edit {
  font-color: gold;
  height: calc(100% - 3em);
  overflow: hidden;
  text-align: center;
}

.character-edit .instructions {
  height: 2em;
  box-sizing: border-box;
}

.character-edit .selected-characters {
  float: right;
  max-width: calc(33% - 10em);
  margin: 0 5em;
  height: calc(100% - 5em);
}

.character-edit .available-characters {
  height: calc(100% - 5em);
  overflow-y: auto;
}

.character-edit .available-characters .character {
  display: inline-block;
  vertical-align: top;
  margin: 1em 2em;
  width: 7em;
}

.character-edit .available-characters .character.inactive {
  opacity: .25;
}

/*.character-edit .available-characters,*/
/*.character-edit .selected-characters,*/
/*.character-edit .locked-characters {*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*height: calc(100% - 5em);*/
  /*margin: 0 5em;*/
  /*max-width: calc(33% - 10em);*/
/*}*/

.character-edit .character-list {
  max-height: calc(100% - 4em);
  overflow-y: auto;
  overflow-x: hidden;
}

/*.available-characters .character-edit .character-list {*/
  /*max-height: calc(100% - 5.5em);*/
/*}*/

.character-edit-form .base-stats,
.character-edit-form .optimization-plan {
  display: inline-block;
  vertical-align: top;
  margin: 0 2.5%;
  max-width: 45%;
}

.character-edit-form .base-stats {
  width: 40em;
}

.character-edit-form .optimization-plan {
  width: 23em;
}

.character-edit-form .form-row {
  text-align: right;
  margin: .25em 0;
  padding: .1em .25em;
}

.character-edit-form .form-row label {
  margin-right: 1em;
}

.character-edit-form .form-row input {
  width: 5em;
  padding: .1em .25em;
}

.character-edit-form .form-row input[type=range] {
  width: 9em;
}

.character-edit-form .form-row output {
  display: inline-block;
  width: 3em;
}

.character-edit-form .form-row input.slider-input {
  width: 3.5em;
  margin-left: .5em;
}

.character-edit-form .form-row:nth-child(odd) {
  background-color: rgb(30, 47, 70);
  color: rgb(117, 203, 203);
}

.character-edit-form .form-row:nth-child(even) {
  background-color: rgb(28, 56, 93);
  color: rgb(28, 169, 212);
}

.character-edit-form .actions {
  text-align: right;
}

.modal.instructions {
  height: auto;
  width: 50em;
  text-align: left;
}

.modal.instructions h2,
.modal.instructions h3 {
  text-align: center;
  border-bottom: 1px solid white;
}

.modal.instructions .actions {
  text-align: right;
}
