.mod-filters input[type=checkbox] {
    display: none;
}

.mod-filters label {
  display: inline;
  border: none;
  font-size: 1em;
  margin: auto;
}

.mod-filters span.option {
  display: inline-block;
  border-radius: .25em;
  border: 1px outset dodgerblue;
  background-color: rgb(0, 0, 96);
  margin: .25em;
  padding: .2em;
  opacity: 0.5;
  font-size: 0.9em;
}

.mod-filters img {
  height: 2.5em;
  padding: .2em;
  opacity: 0.5;
}

.mod-filters input:checked + span.option {
  border-style: inset;
  background-color: rgb(0, 0, 64);
  opacity: 1;
}

.mod-filters input:checked + img {
  opacity: 1;
}

.mod-filters .actions {
  text-align: center;
}

.mod-filters button {
  font-size: .9em;
}

.mod-filters .slots label:nth-child(even)::after {
  content: '\a';
  white-space: pre;
}

.mod-filters .form-actions {
  text-align: center;
  margin-bottom: 1em;
}

.mod-filters .form-actions:last-child {
  margin-top: 1em;
  margin-bottom: 0;
}

.mod-filters .form-actions button {
  font-size: 1em;
  margin: .2em;
}

#mod-filters > div {
  margin-bottom: .6em;
}

#mod-filters > div:last-child {
  margin-bottom: 0;
}
