.mod-filters input[type=checkbox] {
    display: none;
}

.mod-filters label {
  display: inline;
  border: none;
  font-size: 1em;
  margin: auto;
}

.mod-filters span.option {
  display: inline-block;
  border-radius: .25em;
  border: 1px outset dodgerblue;
  background-color: rgb(0, 0, 96);
  margin: .25em;
  padding: .2em;
  box-shadow: 0 0 1.5em .5em inset darkred;
}

.mod-filters img {
  height: 3em;
  padding: .2em;
  filter: drop-shadow(0 0 .5em darkred);
}

.mod-filters input:checked + span.option {
  border-style: inset;
  background-color: rgb(0, 0, 64);
  box-shadow: 0 0 1.5em .5em inset #60bd1b;
}

.mod-filters input:checked + img {
  filter: drop-shadow(0 0 .5em #60bd1b);
}

.mod-filters .actions {
  text-align: center;
}

.mod-filters button {
  font-size: .9em;
}

.mod-filters .slots label:nth-child(even)::after {
  content: '\a';
  white-space: pre;
}

.mod-filters .form-actions {
  text-align: center;
  margin-bottom: 1em;
}

.mod-filters .form-actions:last-child {
  margin-top: 1em;
  margin-bottom: 0;
}

.mod-filters .form-actions button {
  font-size: 1em;
  margin: .2em;
}
