.mod-filter table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.mod-filter .toggle{
    display: inline-block;
    position: relative;
}

.mod-filter .toggle img{
    height: 3em;
}

.mod-filter .toggle input[type=checkbox],
.mod-filter .toggle input[type=button]{
    display: none;
}

.mod-filter .toggle label {
    position:relative;
    cursor:pointer;
    padding:0.2em;
    display: inline-block;
    background-color: #000062;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.mod-filter .toggle img + span{
    position: absolute;
    width: 100%;
    left: 0;
    height: min-content;
    top: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 3.2em;
}

.mod-filter .toggle label.active {
    background-color: #1e90ff;
}

.mod-filter .toggle label img, 
.mod-filter .toggle label span{
    opacity: 0.5;
}
.mod-filter .toggle label.active img,
.mod-filter .toggle label.active span{
    opacity: 1;
}


.mod-filter .toggle:first-of-type label{
    border-left: 1px solid white;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.mod-filter .toggle:last-of-type label{
    border-right: 1px solid white;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.mod-filter .mod-filter .multi-row{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

.mod-filter .row {
    margin-bottom: 3px;
}

.mod-filter .row .toggle span{
    width: 8em;
    display:inline-block;
    text-align: center
}


