.review-list {
  height: 100%;
}

.review-list h2 {
  text-align: center;
}

.review-list h3 {
  text-align: center;
}

.sort-options {
  text-align: center;
  font-size: 24px;
}

.review-list .mods-list {
  height: calc(100% - 8em);
  overflow-y: auto;
}

.mod-row {
  margin: 10px auto;
  text-align: center;
}

.mod-row .mod-detail {
  vertical-align: middle;
  margin-right: 30px;
}

.mod-row .mod-set-block {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
  padding: 1em;
  border: 1px solid dodgerblue;
  background-color: rgba(0, 0, 96, .5);
}

.mod-row .avatar {
  display: inline-block;
  margin: 0 30px;
}

.mod-row .actions {
  display: inline-block;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.mod-row .actions button {
  display: block;
}

pre.summary{
  background-color: #222;
  padding: 1em;
  text-shadow: none !important;
  max-height: calc(100vh - 27em);
  overflow-y: auto;
}



