.review-sets {
  padding-bottom: 12em;
  height: 100%;
}

.review-sets h2,
.review-sets h3 {
  text-align: center;
  margin-bottom: 0;
}

.review-sets h3 {
  margin-top: 0;
}

.review-sets .display-options {
  text-align: center;
  font-size: 24px;
}

.review-sets .sets-list {
  height: calc(100% - 8em);
  overflow-y: auto;
  padding-bottom: 5em;
  box-sizing: border-box;
}

.review-sets .mod-set-detail {
  display: inline-block;
  vertical-align: middle;
}

.review-sets .avatar {
  display: inline-block;
  margin: 1em;
  font-size: 1.7em;
}

.review-sets .set-row {
  margin: 1em;
  text-align: center;
}
