.character-block {
  display: block;
  width: 18em;
  height: 4em;
  border: 1px solid dodgerblue;
  background-color: rgba(0, 0, 96, .5);
  margin: .5em 0;
  text-align: left;
  position: relative;
  max-width: 100%;
}

.character-block .avatar {
  vertical-align: middle;
  display: inline-block;
  height: 3em;
  margin: .5em;
}

.character-block .character-name {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 4.5em);
}

.character-block.drop-character {
  margin-bottom: 5px;
  box-shadow: 0 2px 3px 0 darkred;
}

.character-block button.edit {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  font-size: .75em;
}
