.pips {
  font-size: 0;
  padding: 1px;
  margin: 5px;
  background-color: black;
  border-radius: 2px;
  text-align: left;
  box-shadow: -2px 2px #afa992, -2px -2px #796f3e, 0 0 0 2px #2f2a13;
}

.pip {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fae8da;
  border-radius: 3px;
  margin: 2px;
}
