.gold {
  color: #eeca44 !important;
}

.purple {
  color: #a35ef9 !important;
}

.blue {
  color: #2997f1 !important;
}

.green {
  color: #8fff3a !important;
}

.gray {
  color: #ccfffe !important;
}

.inset {
  z-index: 100;
  position: relative;
}

.inset::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 2px;
  z-index: -1;
}

.inset::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: linear-gradient(30deg,#afa992 10%, /*#796f3e 30%, #2f2a13 50%, */black 70%);
  border-radius: 2px;
  z-index:-2;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: left;
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.App-header {
  background-color: #222;
  padding: 0;
  color: white;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid gray;
}

.App-header nav {
  position: absolute;
  bottom: -1px;
  padding: 0;
  margin: 0;
}

.App-header nav button {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid gray;
  background-color: #202020;
  color: lightgray;
}

.App-header nav button:hover, .App-header nav button:focus {
  color: white;
}

.App-header .actions {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.App-header .actions label:not(.button),
.App-header .actions input:not(.button) {
  font-size: 1.2em;
  margin: 0 .25em;
  vertical-align: middle;
}

.App-header .actions form {
  display: inline-block;
}

.App-footer {
  background-color: #222;
  padding: 0;
  color: lightgray;
  height: 3.2em;
  box-sizing: border-box;
  border-top: 1px solid gray;
  text-align: center;
  position: relative;
}

.App-footer a {
  color: lightgray;
  text-decoration: underline;
}

.App-footer #donate-button {
  display: inline-block;
  vertical-align: middle;
}

.App-footer .version {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: .75em;
  margin: .5em;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  padding: 20px 20px 0;
}

.app-body {
  background: black url('/img/cantina-background.jpg') no-repeat fixed;
  background-size: cover;
  height: calc(100% - 100px - 3.2em);
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 1px black;
}

.app-body a {
  color: white;
  text-decoration: underline;
}

.app-body a.call-out {
  font-weight: bold;
  color: #eeca44;
}

nav.sub-nav {
  border-bottom: 1px solid dodgerblue;
  position: relative;
}

nav.sub-nav button {
  border-radius: 5px 5px 0 0;
  border: 1px solid dodgerblue;
  background-color: #202020;
  margin-bottom: -1px;
  color: lightgray;
}

button, .button {
  display: inline-block;
  margin: 5px;
  background-color: #46801a;
  border: 1px outset limegreen;
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 300;
  color: white;
  padding: 1px .25em;
  opacity: .9;
  cursor: pointer;
  line-height: 1.3;
  vertical-align: middle;
  text-decoration: none;
}

button[disabled],
button[disabled]:hover {
  opacity: .5;
  cursor: auto;
}

button.small, .button.small {
  font-size: .7em;
}

button:active, .button:active {
  border: 1px inset limegreen;
}

button.red, .button.red {
  background-color: darkred;
  border: 1px outset red;
}

button.red:active, .button.red:active {
  border: 1px inset red;
}

button.blue, .button.blue {
  background-color: #0b4884;
  border: 1px outset dodgerblue;
  color: white !important;
}

button.blue:active, .button.blue:active {
  border: 1px inset dodgerblue;
}

button:hover, button:focus,
.button:hover, .button:focus {
  outline: 0;
  opacity: 1;
}

nav button.active {
  border-bottom: none;
  color: white;
  bottom: -1px;
  position: relative;
}

.welcome {
  text-align: center;
  margin: 0 auto;
  max-width: 45em;
}

.modal.reset-modal {
  width: 40em;
}

.modal.error-modal {
  border: 1px solid darkred;
  background-color: #ead118;
  width: 30em;
  min-height: 12em;
  color: black;
  text-shadow: none;
}

.modal.error-modal .warning-label {
  float: right;
  height: 10em;
}

.modal.error-modal p {
  word-break: break-word;
}

.modal.changelog-modal {
  max-width: 45em;
}

strong {
  font-weight: bold;
  color: #a35ef9;
}

.sidebar {
  float: left;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.filters,
.sidebar-actions {
  background-color: #444;
  padding: 1em;
  border-radius: 0 .5em .5em 0;
  border: 1px solid #888;
  border-left-width: 0;
  margin: 1em 1em 1em 0;
  max-width: 20em;
}

.sidebar-actions {
  text-align: center;
}

.sidebar-actions button {
  margin-bottom: .5em;
}

.sidebar-actions button:last-of-type {
  margin-bottom: 0;
}

.filter-form {
  text-align: center;
}

.filter-form label,
.sidebar-actions h3 {
  display: block;
  border-bottom: 1px solid white;
  font-size: 1.2em;
  margin-top: .5em;
  margin-bottom: .25em;
}

.sidebar-actions h3 {
  margin-top: 0;
}

.filter-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1em;
  color: white;
  background-color: rgb(0, 0, 64);
  border: 1px solid dodgerblue;
  border-radius: 0;
  margin: .25em;
  padding: .25em;
}

.filter-form input[type='text'] {
  font-size: 1.2em;
}

input {
    color: #222222;
}

li {
  text-align: left;
  margin-bottom: .5em;
}

a {
  cursor: pointer;
}
