.gold {
  color: #eeca44;
}

.purple {
  color: #a35ef9;
}

.blue {
  color: #2997f1;
}

.green {
  color: #8fff3a;
}

.gray {
  color: #ccfffe;
}

.inset {
  z-index: 100;
  position: relative;
}

.inset::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 2px;
  z-index: -1;
}

.inset::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: linear-gradient(30deg,#afa992 10%, /*#796f3e 30%, #2f2a13 50%, */black 70%);
  border-radius: 2px;
  z-index:-2;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: left;
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.App-header {
  background-color: #222;
  padding: 0;
  color: white;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid gray;
}

.App-header nav {
  position: absolute;
  bottom: -1px;
  padding: 0;
  margin: 0;
}

.App-header nav button {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid gray;
  background-color: #202020;
  color: lightgray;
}

.App-header nav button:hover, .App-header nav button:focus {
  color: white;
}

.App-header .actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.App-footer {
  background-color: #222;
  padding: 0;
  color: lightgray;
  height: 1.5em;
  box-sizing: border-box;
  border-top: 1px solid gray;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  padding: 20px 20px 0;
}

.app-body {
  background: black url('/img/cantina-background.jpg') no-repeat fixed;
  background-size: cover;
  height: calc(100% - 100px - 1.5em);
  overflow-y: auto;
  color: white;
  text-shadow: 2px 2px 1px black;
}

.app-body a {
  color: white;
  text-decoration: underline;
}

.app-body a.call-out {
  font-weight: bold;
  color: #eeca44;
}

nav.sub-nav {
  border-bottom: 1px solid dodgerblue;
  position: relative;
}

nav.sub-nav button {
  border-radius: 5px 5px 0 0;
  border: 1px solid dodgerblue;
  background-color: #202020;
  margin-bottom: -1px;
  color: lightgray;
}

button, .button {
  display: inline-block;
  margin: 5px;
  background-color: #46801a;
  border: 1px outset limegreen;
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 300;
  color: white;
  padding: 1px .25em;
  opacity: .9;
}

button:active, .button:active {
  border: 1px inset limegreen;
}

button:hover, button:focus,
.button:hover, .button:focus {
  outline: 0;
  opacity: 1;
}

nav button.active {
  border-bottom: none;
  color: white;
  bottom: -1px;
  position: relative;
}

.welcome {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
