.mod-stats {
  text-align: left;
  width: 13em;
}

.mod-stats h4 {
  text-transform: uppercase;
  margin: 0;
}
.mod-stats h4:not(:first-of-type){
  margin-top: 1em;
}

.mod-stats ul {
  list-style: none;
  padding-left: 1em;
  margin: 0 0 .5em 0;
  font-weight: lighter;
}

.mod-stats ul.secondary {
  color: #c5f5f5;
}

.mod-stats ul li {
  height: 1em;
}

.mod-stats .class {
  display: inline-block;
  float: right;
  height: 1em;
}

.mod-stats .class-S {
  color: #eeca44;
}

.mod-stats .class-A {
  color: #a35ef9;
}

.mod-stats .class-B {
  color: #2997f1;
}

.mod-stats .class-C {
  color: #8fff3a;
}

.mod-stats .class-D {
  color: #ccfffe;
}
.mod-stats .avatar-row{
  display: table-row;
}
.mod-stats .avatar{
  display: table-cell !important;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding: 10px 5px 0 5px;
}
.mod-stats .avatar-name{
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px 0 5px;

}
